/*  CHECKLIST PATTERN  */

#email-checklist-btn {
    position: relative;
    height: 105px;
    
    .email-btn-wrapper {
        display: block;
        background: $yellow-secondary-lightest url("../assets/send-black.svg") no-repeat;
        background-position: right 20px center;
        border-radius: 50px;
        height: 64px;
        width: 198px;
        text-align: center;
        padding: 5px 48px 5px 10px;
        position: absolute;
        top: 32px;
        right: 0px;
        box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.2);
        cursor: pointer;
        
        .email-btn {
            display: block;
            padding-top: 14px;
            font-size: 16px;
            @include font-format($font-family, $font-semibold, normal);
        }
    }
}

.checklist-item {
    .checklist-item-title {
        background: $white url("../assets/Icon-chevron-down-blue.svg") no-repeat;
        background-position: right 32px center;
        position: relative;
        padding: 32px 84px 32px 0px;
        border-bottom: 2px solid $grey;
        cursor: pointer;
        
        h2 {
            margin: 0;
            padding: 0;
            font-size: 28px;
            
            span {
                position:absolute;
                top: 28px;
                left: -80px;
                border-radius: 50%;
                border: 3px solid $grey;
                height: 48px;
                width: 48px;
                text-align: center;
                line-height: 38px;
  
            }
        }
    }
    .checklist-sub-item-wrapper {
        display: none;
    }
    .checklist-sub-item {
        .checklist-item-content {
            background: $blue-primary-lightest;
            padding: 32px;
            position: relative;
            
            h3 {
                padding-right: 120px;
            }
            .checklist-item-tag {
                position: absolute;
                top: 32px;
                right: 32px;
                font-size: 14px;
                border: solid 2px $blue-primary;
                border-radius: 20px;
                padding: 2px 15px;
                display: inbline-block;
                
                 &.optional {
                    border: solid 2px $blue-primary;
                }
                &.required {
                    background: $blue-primary;
                    color: $white;
                }
            }
        }
        .checklist-item-checkbox {
            background: #C9D4E3;
            padding: 24px 32px;
            margin-bottom: 32px;
            background: #C9D4E3 url("../assets/checkbox-unchecked.svg") no-repeat;
            background-position: left 32px center;

            input[type="checkbox"] {
                opacity: .2;
                width: 28px !important;
                height: 28px !important;
            }
            label {
                padding-left: 6px;
            }
        }
    }
    
    &.open {
        .checklist-item-title {
            background: $white url("../assets/Icon-chevron-up-blue.svg") no-repeat;
            background-position: right 32px center;
            border-bottom: none;
        }
        .checklist-sub-item-wrapper {
            display: block !important;
        }
    }
}